body{
	background-color:#3e3d3d;
}

h1,h2,h3,h4{
	color: white;
	padding-top: 20px;
	transition: color 0.5s ease-in-out;
}

h4{
	padding-top: 10px;
}

.clicked{
	color:#DDC4C4;
}

.form,.greeting{
	display: none;
}

.showing{
	display: block;
}