*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

header{
	height: 90px;
	background: #173f5f;
}

.inner-width{
	max-width: 1000px;
	padding: 0 10px;
	margin: auto;
}

.title{
	float: left;
	padding: 30 10px;
	margin-top: 25px;
	color: white;
	font-size: 2em;
	font-weight: bold;
}

.navigation{
	float: right;
	display: flex;
	align-items: center;
	text-transform: uppercase;
	min-height: 90px;
}

.navigation a{
	margin-left: 10px;
	color: white;
	padding: 12px 20px;
	border-radius: 25px;
	transition: .3s linear;
}

.navigation a:hover{
	background: #fff;
	color: #3caea3;
	transform: scale(1.1);

}
.js-clock{
	display: block;
	padding: 0 10px;
	max-width: 1000px;
	margin: auto;
	height: 90px;
}

.js-clock h3{
	font-size: 2em;
}


.clicked{
	color:#DDC4C4;
	float: left;
	padding: 30 10px;
	margin-top: 25px;
	font-size: 2em;
	font-weight: bold;
}

.form,.greeting{
	display: none;
}

.showing{
	display: block;
}

.backgroundVideo{
	display: absolute;
	height: 50%;
	width: 50%;
}